<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <title>ColorCode一覧表示</title>
</head>


<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">外観台帳システム</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/ColorCodes">Color</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Material</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Grain</a>
        </li>
      </ul>
      <a href="/ColorCodes/new" class="btn btn-outline-warning">Create</a>
    </div>
  </div>
</nav>

<body>