h1 {
    color: rgba(0, 0, 255, 0.745);
    text-align: center;
    font-weight: 700;
    text-decoration: rgb(255, 0, 0) underline wavy;

}

h2 {
    color: rgb(226, 232, 238);
    background-color: rgba(33, 89, 186, 0.914);
}

.heightTest {
    line-height: 300%;
}

.lsTest {
    letter-spacing: 20px;
}

.fontSizeTest {
    font-size: large;
}

#signup {
    color: #fefae0;
    background-color: #283618;
}

/* 以下のサイトを参考にした
https://ics.media/entry/200317/ */
body {
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
}

a {
    /* 以下のようにするとリンクの下線がなくなる */
    text-decoration: none;
}

.tag {
    background-color: palevioletred;
    color: white;
}

.offspring span a {
    color: red;
}

.neighbor+p {
    color: green;
}

.under>li {
    color: purple
}

input[type="number"] {
    background-color: rgb(235, 180, 180);
}

a[href*=google] {
    color: red;
}