body {
    background-color: #f5d9d5;
    font-family: Nunito, sans-serif;
}

#mainNavbar {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;

}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

/* img-fluidクラスを使えば必要ない */
img {
    /* width: 100% */
}

#headingGroup h2 {
    font-weight: 100;
    font-size: 4rem;
}


#headingGroup span {
    color: #ea1c2c;
}

/* #icon {
    width: 30%;
} */

@media (max-width: 1200px) {

    #headingGroup h2 {
        font-size: 3rem;
    }
}

.blurb h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;

}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.scrolled {
    background-color: #dec0de;
    transition: background-color 1s;
}